@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.outer-div{
  align-items: center;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid gray;
}
.inner {
  position: absolute;
  color: #6f7287;
  border: 1px solid #a9a8b3;
  border-radius: 100px;
  background: #fff;
  display: inline-block;
  padding: 0 12px 3px;
  min-width: 20px;
  text-align: center;
}
.info {
  background: url('../../public/login-image-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%
}
.footer {
  background-color: #1e0a3d;
  color: white
}